@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PanelLayout.cshtml";
}
<script src="~/Assets/js/customJs/TissueBank/TissueBankController.js"></script>
<script src="~/Assets/js/customJs/TissueBank/TissueBankService.js"></script>
<div ng-controller="ProductController">
    <input type="hidden" for="TissueBankId" id="TissueBankId" value="@ViewBag.user.InfoId" />
    <ul class="breadcrumb breadcrumb-page">
        <div class="breadcrumb-label text-light-gray">You are here: </div>
        <li>
            <a tabindex="-1" href="@Url.Action("Index", "Home", new { Area = "TissueBank" })">
                <span class="mm-text">Home</span>
            </a>
        </li>
        <li class="active"><a href="">Product Management</a></li>
    </ul>
    <div class="page-header">
        <div class="row">
            <!-- Page header, center on small screens -->
            <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa fa-list-alt"></i>&nbsp;&nbsp;Display Products</h1>
        </div>
    </div> <!-- / .page-header -->

    <div class="panel colourable" id="filter">
        <div class="panel-body panel-padding">
            <div class="row">
                <div class="form-inline">
                    <div class="form-group col-md-4">
                        <label class="filter-col" style="margin-right:0;" for="pref-perpage">Rows per page: </label>
                        <select class="form-control" style="box-shadow: inset 0 1px 5px rgba(0,0,0,.13);" ng-disabled="Products.length<1" ng-options="item for item in PageSizes" ng-model="PageSize" ng-change="PageSizeChanged()"></select>
                    </div>
                    <div class="form-group col-md-4">
                        <label class="filter-col" style="margin-right:0;" for="pref-search">Search: </label>
                        <input class="form-control" ng-model="SearchBy" placeholder="Search" type="search" style="box-shadow: inset 0 1px 5px rgba(0,0,0,.13);" ng-change="search()" />
                    </div>
                    <div class="form-group col-md-4">
                        <label class="filter-col" style="margin-right:0;" for="pref-perpage">Sort By: </label>
                        <select class="form-control" style="box-shadow: inset 0 1px 5px rgba(0,0,0,.13);" ng-disabled="Products.length<1" ng-options="SortOption for SortOption in SortOptions" ng-model="SortOption" ng-change="SortOptionChanged()"></select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-8" style="font-size:18px; margin-bottom:10px;">
                Result : {{Products.length}} Products
            </div>
            <div class="col-md-4" style="width:355px">
                Current Page : {{CurrentPage}}&nbsp;&nbsp;
                <button ng-click="getPreviousPage()" ng-disabled="CurrentPage==1" type="button" class="btn btn-flat filter-col" style="background-color:#ffffff; border-color:#7a6f6f; border-bottom-color:#999;">
                    <i class="fa fa-caret-left" aria-hidden="true"></i> Previous Page
                </button>
                <button ng-click="getNextPage()" ng-disabled="CurrentPage*PageSize>Products.length" type="button" class="btn btn-flat filter-col" style="background-color:#ffffff; border-color:#7a6f6f; border-bottom-color:#999;">
                    <i class="fa fa-caret-right" aria-hidden="true"></i> Next Page
                </button>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="table-responsive table-primary">
                        <span ng-if="dataLoading" style="color:darkgreen;">Please Wait..</span>
                        <span ng-if="Products.length==0" style="color:darkgreen;">Sorry..No Products.</span>
                        <table class="table table-bordered table-hover table-striped" id="table" ng-if="Products.length!=0" >
                            <thead>
                                    <tr>
                                        <th>S.No.</th>
                                        <th>Product Master</th>
                                        <th>Product Types & Its Variations</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                            <tbody>
                                <tr ng-repeat="Product in Products | unique:'ProductMasterId'">
                                    <td style="width:5%">{{$index + StartLimit+1}}</td>
                                    <td style="background-color:#7e8590; color:#ffffff; text-align:center;width:20%">{{Product.ProductMasterName}}</td>
                                    <td style="padding-right: 0px;">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Product Type</th>
                                                    <th>Variations</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="SubProduct in Products | unique:'ProductType'">
                                                    <td><b>{{SubProduct.ProductType}}</b></td>
                                                    <td style="padding-right: 0px;">
                                                        <table class="table table-bordered table-hover table-striped">
                                                            @*<colgroup>
                                                                    <col class="col-md-3">
                                                                    <col class="col-md-3">
                                                                    <col class="col-md-2">
                                                                    <col class="col-md-2">
                                                                    <col class="col-md-2">
                                                                </colgroup>*@
                                                            <thead>
                                                                <tr>
                                                                    <th>Product Code</th>
                                                                    <th>Product Size</th>
                                                                    <th>Preservation Type</th>
                                                                    <th>Unit Price</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr ng-repeat="SuperSubProduct in Products | filter:{'ProductType':  SubProduct.ProductType}:true">
                                                                    <td>{{SuperSubProduct.ProductCode}}</td>
                                                                    <td>{{SuperSubProduct.ProductSize}}</td>
                                                                    <td>{{SuperSubProduct.PreservationType}}</td>
                                                                    <td>
                                                                        {{SuperSubProduct.UnitPrice==null ? 'N/A' : SuperSubProduct.UnitPrice | currency}}
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                    </td>

                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                    <td style="width:10%">
                                        @*<span ng-click="add()" class="btn btn-primary">Manage</span>*@
                                        @{
                                            var url = Url.Action("Manage", "Product", new { Id = "{{Id=Product.ProductMasterId}}" });
                                            url = HttpUtility.UrlDecode(url);
                                        }
                                        <span class="btn btn-primary" style="height:40px;"><a style="color: #fff;" data-ng-href="@url">Manage</a></span>
                                    </td>

                                </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>