@{
    ViewBag.Title = "Home Page";
}
<div style="text-align:center">
    <h3>Welcome to Allocat</h3>
    <h4>Something cool is coming up.. Stay with us.</h4>
</div>
<img width="100%" src="~/Assets/image/Under-Construction-min.jpg" />