
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Assets/js/lib/jquery-1.9.1.min.js"></script>
<h2>HI admin</h2>
<script>
    $(document).ready(function () {
        test();
    });
    function test() {
        $.get('http://localhost:63744/api/UserProfileManagement/GetUserProfile', {"UserName": "Vishal"}, function (resut) {
            console.log(resut);
        });
    }
</script>
