body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



#loaderDiv {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1100;
    background-color: white;
    opacity: .6;
}

.ajax-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -32px; /* -1 * image width / 2 */
    margin-top: -32px; /* -1 * image height / 2 */
    display: block;
}

.notifies {
    position: fixed;
    top: 20px;
    right: 0;
    z-index: 99999;
}


.warning-tag {
    border: 1px;
    background-color: #f4b04f;
    margin: auto;
    color: #ffffff;
    text-align:center;
}

.sucess-tag {
    border: 1px;
    background-color: #5ebd5e;
    margin: auto;
    color: #ffffff;
    text-align:center;
}

.on-going-tag {
    border: 1px;
    background-color: #64bed8;
    margin: auto;
    color: #ffffff;
    text-align:center;
}

.closed-tag {
    border: 1px;
    background-color: #9788a7;
    margin: auto;
    color: #ffffff;
    text-align:center;
}
